@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap:100,200,300,400,500,600,700');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(95, 79, 85);
    color: rgb(255, 255, 255);
    font-family: "oswald", sans-serif;
    text-align: center;
}

/*-----navbar-------*/

.navbar {
    background-color: #101316;
}

.navbar-brand  {
    font-size: 200%;
    margin-right: 0px;
    margin-left: 0px;
}

.nav-link-font {
    font-size: 150%;
}

/*----hero-image-----*/

.hero-image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 15px;
    padding-left: 0px;
}

.hero-text {
    position: absolute;
    top: 20%;
    left: 0%;
    right:0%;
    bottom:0%;
    text-align: center;  
}

#italic {
    font-style: italic;
}

h4 {
    font-size: 34px;
}

.hero-text-p {
    font-size: 24px;   
}


/*----main text-----*/

.text-the-dating-game  {
    font-size: 45px;
    color: #73a8f8;
}

.text-create-a-date {
    font-size: 45px;
    color: #73a8f8;
}

p {
    font-size: 18px;   
}

/*-----interactivity section-------*/

#activities {
    font-size: 25px;
    background-color: rgb(194, 25, 25)
}

#cities {
    font-size: 25px;
    background-color: rgb(194, 25, 25)
}

#button {
    font-size: 25px;
    background-color: rgb(194, 25, 25)
}

/*-----google map-------*/

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

/*-----footer-------*/

.footer-background {
    background-color: #101316;
}  

#bold {
    font-weight: bold;
    margin: 20px;
}

.footer-spacing {
    padding-top: 20px;
}
