@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap:100,200,300,400,500,600,700');


body {
    background-color: rgb(95, 79, 85);
    color: rgb(255, 255, 255);
    font-family: "oswald", sans-serif;
}

/*-----footer-------*/

.footer-background {
    background-color: #101316;
    
}

#bold {
    font-weight: bold;
}

#social-font-size {
font-size: 100px;
}