@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap:100,200,300,400,500,600,700');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(78, 70, 73, 0.856);
    color: rgb(12, 12, 12);
    font-family: "oswald", sans-serif;
    text-align: center;
}

/*-----navbar-------*/

.navbar {
    background-color: #101316;
}

.navbar-brand  {
    font-size: 200%;
    margin-right: 0px;
    margin-left: 0px;
}

.nav-link-font {
    font-size: 150%;
}


.img {
    width: 1600px;
    height: 500px;
}

/*-----intro-text------*/

#intro-background {
    background-color: #101316;
}

#italic {
    font-style: italic;
}

h4 {
    font-size: 34px;
    color: rgb(255, 255, 255);
}

#padding-top {
    padding: 20px;
}

.intro-text-p {
    font-size: 24px;
    color: rgb(255, 255, 255);
}



/*----main text-----*/

.text-the-dating-game  {
    font-size: 45px;
    margin-top: 30px;
}

.text-create-a-date {
    font-size: 45px;
}

p {
    font-size: 18px;   
}

.far {
    color: rgb(255, 255, 255);
}

/*-----interactivity section-------*/


#activities {
    font-size: 50px;
    border-radius: 10px;
    background-color:  rgb(255, 255, 255);
    
}

#cities {
    font-size: 50px;
    border-radius: 10px;
    background-color:  rgb(255, 255, 255);
}

#button {
    font-size: 50px;
    border-radius: 10px;
}

#result {
   border-bottom-width: 20px;
   margin-bottom: 50px; 
}

#destination {
    border-bottom-width: 20px;
    margin-bottom: 50px;
}

/*-----google map-------*/

#map {
   width: 100%;
   height: 400px;
}

/*-----hyperlink-------*/

.hyperlink {
 color:  #101316;  
}

/*-----footer-------*/

.footer-background {
    background-color: #101316;
    color: rgb(255, 255, 255);
}  

#bold {
    font-weight: bold;
    margin: 20px;
    text-shadow: 2px 2px rgb(84, 89, 95);
}

.shadow {
    text-shadow: 2px 2px rgb(84, 89, 95);
}


